.color-example{
    color: red;
    background-color: aqua;

}

.background-example{
    background-color: #ffaa00;
    color: rgb(58, 143, 218)
}

.background-position-example{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/430fde0c-8162-4197-8e2f-afbb0183aa19/dexklju-346bc0c1-fb66-4dad-9c89-e4f2ee7bd960.jpg/v1/fill/w_1280,h_1280,q_75,strp/killua_zoldyck_by_azuringem_dexklju-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzQzMGZkZTBjLTgxNjItNDE5Ny04ZTJmLWFmYmIwMTgzYWExOVwvZGV4a2xqdS0zNDZiYzBjMS1mYjY2LTRkYWQtOWM4OS1lNGYyZWU3YmQ5NjAuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.m0Z_t3LdsHTyadvDd0famT4vYGDE4z6ol2CbG_wgjJw");
    height: 300px;
    width: 500px;
    background-color: aqua;
    color: aliceblue;
    background-repeat: no-repeat;
    background-position: center top;

}

.opacity-example{
    background-color: rgba(255, 0, 0, 0.1);
}

.img-name{
    height: 200px;
    width: 200px;
}